body{
    background: url("/Images/jakob-owens-lqNlFDHeae8-unsplash.jpg");
  
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.form {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

ul {

    list-style-type: none;
}

li {

    color:rgb(8, 6, 1);
    text-align: center;
    margin: 8px;

}
