body{
 
    background-image:url("./Images/rami-al-zayat-w33-zg-dNL4-unsplash.jpg") ;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

#navbar{
    text-align: center;
    
  
}


#navbar ul{
  display: contents;

 

}

#navbar ul li{
  
    padding: 10px;
    margin: 0px 50px;
    font-size: 1rem;
    background-color:darkgoldenrod;
    border-radius: 5px;
}


    #navbar ul li{
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
}
.item{
  transform:skewX(10deg);
}



#navbar a{
    color:white;
   list-style: none;
    text-decoration: none;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

    
  }

  
#navbar a:hover{

 
    text-decoration: none;
    font-size: 1.2rem;
    
}


.container{
    position: absolute;
    background-image:url("./Images/chris-lawton-vBA-JNHAraI-unsplash.jpg") ;

    height: 180px;
    width: 500px;
    margin: 40px 450px;
    border-radius: 15px;
    
}
h1{
 
    animation-name: head;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    text-align: center;
   
    height: fit-content;
    border-radius: 10px;

}

form{
    color: black;
    padding: 2px;
    margin: 4px;
    font-weight: bolder;

  
}
input[type=text],[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    color: black;
    
  }
  input:focus{
    background-color:lightsalmon;
    height: 50px;
  

  }
  label{
    font-size: larger;
    margin: 0px 8px;
  }
  button{
    padding: 8px;
    margin: 0px 200px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    cursor: pointer;
    animation-name: head;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;

  }
  button:hover{
    text-transform:lowercase;
  }
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: seagreen;}
    50%  {background-color: yellow;}
    100% {background-color: fuchsia;}
  }
  

  @keyframes head {
    0%   {color: white;}
    25%  {color: crimson;}
    50%  {color: blue;}
    100% {color: green;}
  }
    