body{
    background-image: url("https://st2.depositphotos.com/1010669/6303/i/600/depositphotos_63032751-stock-photo-brush-with-powder.jpg");

    background-size: cover;
    
}
.login input{
    float: right;
    border-radius: 20px;
 
 }
 
.signup input{
border-radius: 20px;
    border-color: aliceblue;
}

.tdesc{
    border-style:solid;
    border-radius: 40px;
    font-size: 20px;
    color: orange;
    background-color: black;
    margin-left: 400px;
    margin-right: 400px;
    font-family: cursive;
    text-align: center;

}


ul{
    float: left;

}

.intro li  {
    
    border-radius: 80px;
    display: inline-block;
    list-style: none;
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin: 3px;
    
   

}
a{
    text-decoration: none;
    color:wheat;
   
}
li:hover{
    background-color: blue;
}


